*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --blue1: #6AAED9;
    --blue2: #034C8C;
    --purple: #262473;
    --yellow: #F2E205;
}
body{
    font-family: 'Rubik', sans-serif;
    background-color: var(--blue1);
    color: white;
}
.container{
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.842));
    /* background-blend-mode: multiply; */
    min-height: 250px;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
}

.container h1{
    text-align: center;
    font-size: 3em;
    cursor: default;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}
.location{
    height: 10%;
    width: 80%;
    display: flex;
    gap: 3px;
}
.location #location-id{
    border: none;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    font: bolder 1em 'montserrat', sans-serif;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
}
.location #btn{
    border-radius:  0px 15px 15px 0px;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: var(--purple);
    font: bolder 1em 'montserrat', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    transition: .2s;
}
.location #btn:hover{
    transition: .3s;
    transform: scale(1.1);
}

.loc-icons{
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.icons{
    box-sizing: content-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    background-color: rgb(255, 255, 255);
    background-blend-mode: multiply;
    border-radius: 15px;
    color: var(--purple);
    font: bolder 2em 'montserrat', sans-serif;
    cursor: default;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.514);
    /* padding: 3px; */

}
.country{
    background-image: url('https://www.gov.br/planalto/pt-br/conheca-a-presidencia/acervo/simbolos-nacionais/bandeira/bandeiragrande.jpg/@@images/image');
    background-size: 100%;
}
.state{
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Bandeira_da_Bahia.svg/255px-Bandeira_da_Bahia.svg.png');
    background-size: 100%;
}
.info{
    width: 80%;
    height: 30%;
}

.temp_c::after{
    content: '°C';
    font: bold 0.5em 'montserrat', sans-serif;
}
.temp_f::after{
    content: '°F';
    font: bold 0.5em 'montserrat', sans-serif;
}
.humi{
    transition: .2s;
}
.humi::after{
    content: '%';
    font: bold 0.5em 'montserrat', sans-serif;
}
.humi:hover{
    transition: .3s;
}
.degrade{
    width: 100%;
    height: 100%;
    background-color: black;
}
.condition{
    font-weight: 600;
}
.image{
    background-size: cover;
}